*.py~
Untitled*
__pycache__/
.ipynb_checkpoints/
weights/
build/
dist/
poisson_CNN.egg-info/
*.pyc
*.json~
*.txt
chkpt*
.idea/
Navier_Stokes_2D/plots
Navier_Stokes_2D/plots_old/
Navier_Stokes_2D/*.png
